*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
  background-color: #F2F2F2;
}
a{
  text-decoration: none;
}
li{
  list-style-type: none;
}
.App{
  width: 970px;
  margin: auto;

}

header{
  height: 70px;
  margin-top: 120px;
  display: flex;
  align-items: center;
  background-color: white;
  box-shadow: '0px 4px 10px rgba(219, 221, 227, 0.495056)';
  border-radius: 10px;
}
header > ul{
  display: flex;
  margin-left: 40px;
  align-items: center;
}

header ul li a.active{
  color: #7D60FF !important;
}
.main-content{
  margin-top: 36px;
}
.content{
  margin-top: 40px;
  background-color: white;
  box-shadow: '0px 4px 10px rgba(219, 221, 227, 0.495056)';
border-radius: 10px;
}

.overview-container{
  display: flex;
}
.overview-description{
  margin-top: 40px;
  position: relative;
}
.overview-description h2{
  font-weight: 600;
  color: #20272C;
  font-size: 32px;
}
.overview-description h5{
  color: #6D6C79;
  font-size: 18px;
}
.follow-btn{
  width: 120px !important;
  position: absolute;
  bottom: 0;
  margin-bottom: 40px;
}
.rectangle-box{
  width: 320px;
  height: 240px;
  margin: 40px;
  background: #EDEAFA;
border-radius: 10px;
}
.player{
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrow-container{
  width: 50px;
  height: 50px;
  border: 1px solid #7D60FF;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #7D60FF;
  transition: all 300ms;
}
.arrow-container:not(.disabled):hover{
  background-color: #7d60ff;
  color: white;
}
.arrow-container h2{
  line-height: 50px;
  font-weight: 500;
  font-size: 18px;
}
.arrow-container.disabled{
  border: 1px solid #cbcbcb;
  color: #cbcbcb;
  cursor: not-allowed;
}
.playlist-boxes{
  display: flex;
  overflow: hidden;
  max-width: 320px;
  margin: 40px;
}
.playlist-box{
  transition: translate 1300ms;
}
.playlist-name{
  margin-top: 24px;
  color: #2F2D40;
  text-align: center;
  font-weight: 600;
  width: 320px;
  height: 64px;
}

header > ul > li:last-of-type{
  position: relative;
}
.featured-content{
  position: absolute;
  width: 200px;
    margin-left: 22px;
    margin-top: 25px;
    background-color: white;
    z-index: 100;
}
.featured-list{
  box-shadow: 0px 2px 2px 0px #7b7171;
}
.featured-list > li{
  padding: 12px;
  transition: all 300ms;
}
.featured-list > li:hover{
  background-color: #7D60FF;
  color: white;
  cursor: pointer;
}